
 {% extends "base.html" %}

{% block content  %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Why MSEO ?</h3>
      <p>Guide clients toward success.
          For 15 years, our goal has always been to provide the best tools, quality data, and education people need to do search right.
           Today, more than 20,000 marketers turn to Moz to help them find their competitive edge in an increasingly complex and ever-changing world of search.</p>

    </div>
    <div class="col-sm-4">
      <h3>Early growth & funding</h3>
      <p>After a glimpse of the demand, we shifted our focus from consulting to our software,
        taking our first round of funding in 2007 to power the development of new tools and ideas.
         By 2009, we tallied our first 5,000 subscribers and codified our core values in the acronym TAGFEE,
          continuing to lead the industry with our educational content in an effort to demystify SEO (this is also when we started filming Whiteboard Fridays!).</p>

    </div>
    <div class="col-sm-4">
      <h3>Our Believes !!! </h3>
      <p>At MSEO, we believe there is a better way to do marketing. A more valuable way where customers are earned rather than bought. We're obsessively passionate about it, and our mission is to help people achieve it. We focus on search engine optimization. It's one of the least understood and least transparent aspects of great marketing, and we see that as an opportunity.
         We're excited to simplify SEO for everyone through our software, education, and community.</p>
    </div>
  </div>
</div>


{% endblock %}
