<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}Home page </title>

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<h1></h1>

<nav class="navbar navbar-expand-sm  navbar-dark bg-dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/404">Error page</a>
        </li>
      </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>
<h1></h1>


<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>The MSEO Story We know SEO. </h1>
  <p>In fact, we wrote the blog on it.</p>
</div>

              <!-- carousel begins here

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="{{ url_for('static', filename='./img/seo1.jpeg') }}" class="d-block w-100" alt="..." style="width:640px;height:360px">
    </div>
    <div class="carousel-item ">
      <img src="{{ url_for('static', filename='./img/seo2.jpeg') }}" class="d-block w-100" alt="..." style="width:640px;height:360px">>
    </div>
    <div class="carousel-item ">
      <img src="{{ url_for('static', filename='./img/seo3.jpeg') }}" class="d-block w-100" alt="..." style="width:640px;height:360px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container marketing">
-->
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" >
        <div class="card" style="width: 25rem;">
          <img src="{{ url_for('static', filename='./img/seo2.jpeg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Help Google find your content</h5>
            <p class="card-text">
              The first step to getting your site on Google is to be sure that Google
              can find it. The best way to do that is to submit a sitemap.
               A sitemap is a file on your site that tells search engines about new or changed pages on your site. Learn more about how to build and submit a sitemap.</p>
            <a href="https://developers.google.com/search/docs/beginner/get-started" class="btn btn-primary">Find out more here!</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" >
        <div class="card" style="width: 25rem;">
          <img src="{{ url_for('static', filename='./img/seo2.jpeg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">What Is the Google Search Algorithm?</h5>
            <p class="card-text">The Google search algorithm refers to the internal process that Google uses to rank content. It takes a number of factors into account when determining these rankings,
                                such as the relevance and quality of the content against a particular search query.</p>
            <a href="https://www.semrush.com/blog/google-search-algorithm/" class="btn btn-primary">Find out more here!</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" >
        <div class="card" style="width: 25rem;">
          <img src="{{ url_for('static', filename='./img/seo2.jpeg') }}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Best SEO Tools</h5>
            <p class="card-text">Mastering SEO optimization can be hard, especially if you’re just starting out. <!--Fortunately, finding the best SEO tools is easy,-->We’ve compiled them all on this list.
              We reached out to over 30 SEO experts to find out what the best SEO software is and what keyword tracking tools are impressing the SEO experts. </p>
            <a href="https://www.oberlo.com/blog/seo-tools" class="btn btn-primary">Find out more here!</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<div>{% block content %} {% endblock %}</div>
</body>

</html>
